.quoteboxes {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.happy,
.sad,
.motivational {
  border: 1px solid black;
}
/*This is just a testing comment, don't mind this push*/
